.in{
    margin-top: 90px;
}
.title{
    text-align: center;
}
.container{
    background-color:#fff;
    text-align: center;
    
}

.pm{
    width: 80%;
    height: 50px;
    border: none;
    background-color: rgb(224, 238, 252);
    border-bottom: rgb(92, 92, 92) solid 3px;
    margin-bottom: 20px;
}
.mp{
    background-color: rgb(224, 238, 252);
    margin-bottom: 0;
    width: 80%;
    color:#979797;
    text-align: start;
}

.f:hover{
    border-bottom: rgb(49, 174, 247) solid 3px;
    
}
.t:hover{
    color: dodgerblue;
}

.login{
    width:80%;
    background-color: rgb(31, 147, 214) ;
    border: none;
    color: #fff;
    border-radius: 30px;
    height: 50px;
}
.link a{
    font-size: smaller;
    color: rgb(49, 174, 247) ;
    margin:20px 20px 60px 20px;
}